
body {
  font-family: 'Work Sans', sans-serif;
  background-color: #010101;
  margin: 0;
  }

  h1 {
    text-align: center;
    margin: none;
    color: white;
    height: 30px;
    padding: 50px;
    }

  h2 {
    text-align: left;
    margin: 20px;
    color: white;
    padding: 27px;
  }

  p {
    text-align: center;
    color: white;
  }


.forsidebillede {
  max-width: 100%;
  height: auto;
  float: right;
  text-align: center;
}

.portfoliobillede {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
}

.portfoliovideo {
width: 100%;
height: auto;
}

img {
      display: block;
      margin: 0 auto;
    }

nav {
  width: 100%;
  margin: auto;
  height: 65px;
  background: lightblue;
}


ul {
 margin: 0px;
 padding: 0px;
 text-align: left;
 list-style: none;
}

li {
display: inline-block;
text-align: auto;
margin-left: 70px;
padding-top: 25px;
}

a {
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

 a:hover {
  background-color: #000;
  color: white;
}


.grid-container {
  display: grid;
  gap: 200px;
  grid-template-areas:
  'a b'
  'c d'
  'e f';
}


.item1 {
  grid-area: a;

}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

.item4 {
  grid-area: d;
}

.item5 {
  grid-area: e;

}

.item6 {
  grid-area: f;
}

.kontaktbillede {
  display: block;
margin-left: auto;
margin-right: auto;
width: 50px;
height: 50px;
}

@media (max-width: 600px) {
  .portfoliobillede {
   max-width: 100%;
   height: auto;
 }

 .portfoliovideo {
 width:100%;
 height: auto;
 }

 .nav {
   width: 100%;
   margin: 0;
   height: 30px;
   background: lightblue;
 }

 a {
   color: #222;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 10px;
   display: block;
   text-align: left;
 }

 p {
   font-size: 20px;
   text-align: center;
   margin: auto;
   line-height: 100%;
   letter-spacing: 0.6px;
   margin-top: 30px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
 }

 h1 {
   text-align: center;
   padding: 10px;
   margin: 5%;
   font-weight: bold;
   color: white;
 }

 h2 {
   text-align: center;
   padding: 10px;
   margin: 5%;
   font-weight: bold;
   color: white;
 }

 .grid-container {
   display: grid;
   gap: 30px;
   grid-template-areas:
   'a'
   'b'
   'c'
   'd'
   'e'
   'f'
   'g'
   'h'
   'i'
   'j'
   'k'
   'l';
 }


 .item1 {
   grid-area: a;

 }

 .item2 {
   grid-area: b;
 }

 .item3 {
   grid-area: c;
 }

 .item4 {
   grid-area: d;
 }

 .item5 {
   grid-area: e;

 }

 .item6 {
   grid-area: f;
 }

 .item7 {
   grid-area: g;
 }

 .item8 {
   grid-area: h;
 }

 .item10 {
   grid-area: j;
 }

 .item11 {
   grid-area: k;
 }

 .item12 {
   grid-area: l;
 }

}
